{% extends 'portfolio/base.html' %}
{% load static %}


{% block title %} Home {% endblock title %}


{% block style_icon %}
<link rel="shortcut icon" href="{% static 'portfolio/img/logo-2.png' %}" type="image/x-icon">
<link rel="stylesheet" href=" {% static 'portfolio/css/style.css' %} ">
{% endblock style_icon %}


{% block content %}
<main>
    <div class="blog">
        <h1>LE BLOG</h1>
    </div>
</main>
{% endblock %}


{% block js %}
<script type="text/javascript" src=" {% static 'portfolio/js/index.js' %} "></script>
{% endblock %}