{% extends 'portfolio/base.html' %}
{% load static %}


{% block title %} Project: {{ Project.title }} {% endblock title %}


{% block content %}
<!-- main -->
<div class="blog">
  <div>
    <h5 class="projet-title">{{ Project.title }}</h5>
    <strong>
      {{ Project.published_date|date:"d/m/Y" }} |
      par {{ Project.author.first_name }} |
      vue {{ Project.number_views }}
    </strong>>
    <p class="intro">{{ Project.body|safe }}</p>
  </div>
</div>

<!-- <main class="detail-product">
  <div class"detail-product-container>
    <h5 class="projet-title">{{ Project.title }}</h5>
    <strong>{{ Project.published_date|date:"d/m/Y" }} | par {{ Project.author.first_name }}</strong>
    <p class="intro">{{ Project.body|safe }}</p>
  </div>
</main> -->
{% endblock %}


{% block js %} {% endblock %}