{% extends 'portfolio/base.html' %}
{% load static %}


{% block title %} Home {% endblock title %}


{% block style_icon %}
<link rel="shortcut icon" href="{% static 'portfolio/img/logo-2.png' %}" type="image/x-icon">
<link rel="stylesheet" href=" {% static 'portfolio/css/style.css' %} ">
{% endblock style_icon %}


{% block content %}
<!-- header -->
<header class="header-home">
  <div class="container-content">
    <div class="header-content">
      <div>
        <h1>Développeur Python / PowerBI & Data Scientist</h1>
        <h2>Macktireh Abdi Soubaneh</h2>
      </div>
    </div>
  </div>
  <div class="img-header">
    <div class="img-box">
      <img class="python" src="{% static 'portfolio/img/python.png' %}">
      <img class="powerbi" src="{% static 'portfolio/img/PowerBI.png' %}">
    </div>
  </div>
</header>

<!-- main -->
<main>
  <!-- presentation -->
  <section class="presentation">
    <div class="container-presntation">
      <h2>Développeur Python | Data Scientist | Expert Power BI</h2>
      <hr>
      <p>{% lorem 60 w %}</p>
    </div>
  </section>

  <!-- Compétence -->
  <section class="competence">
    <h2>Compétence Développeur</h2>
    <hr>
    <div class="competence__container">
      {% for competence in Competences.all %}
      <div class="competence__container__box">
        <img src="{{ competence.icon.url }}" alt="{{ competence.title }}">
        <h3>{{ competence.title }}</h3>
        <p>{{ competence.description }}</p>
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- section quelques projets -->
  <section class="projects">
    <div class="projet-heading">
      <h3>QUELQUES PROJETS</h3>
    </div>
    <hr>
    <div class="projet-container">
      {% for project in Projects.all %}
      {% if project.status == 'published' %}
      {% include 'portfolio/components/card-project.html' %}
      {% endif %}
      {% endfor %}
    </div>
    <a href="{% url 'projects' %}" class="btn-all-project">VOIR TOUS LES PROJETS</a>
  </section>
</main>
{% endblock %}


{% block js %}
<script type="text/javascript" src=" {% static 'portfolio/js/index.js' %} "></script>
{% endblock %}