{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href=" {% static 'AppPortfolio/css/style.css' %} ">
</head>

<body>
  <nav class="nav-bar">
    <a class="logo" href="#">Macktireh</a>
    <div class="menu">
      <ul>
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">Projet</a></li>
        <li class="nav-item"><a href="#">Blog</a></li>
        <li class="nav-item"><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>

  {% block content %}{% endblock %}


  {% block js %}{% endblock %}
</body>

</html>