{% extends 'AppPortfolio/base.html' %}
{% load static %}


{% block content %}

<header>
  <div class="header-content">
    <div>
      <h1>Dévéloppeur Python & Data Scientist</h1>
      <h2>Macktireh Abdi Soubaneh</h2>
    </div>
  </div>
</header>

<main>

  <section class="Projet">
    <div class="projet-heading">
      <h3>QUELQUES PROJETS</h3>
    </div>

    <div class="projet-container">
      {% for project in Projects.all %}
      {% if project.status == 'published' %}
      <div class="projet-box">
        <a href="">
          <div class="projet-img">
            <img src="{{ project.image.url }}" alt="{{ project.title }}">
          </div>

          <div class="projet-text">
            <span>{{ project.published_date|date:"d/m/Y" }} | par {{ project.author.first_name }}</span>
            <h5 class="projet-title">{{ project.title }}</h5>
            <p class="intro">
              {{ project.introduction }}.
            </p>
          </div>
          <div class="card-contenaire">
            <div class="card-botton">
              <div class="box-level">
                <img src=" {% static 'AppPortfolio/img/level.svg' %} " alt="Icon Niveau">
                <p class="p-level">Niveau: {{ project.niveau }}</p>
              </div>

              <div class="box-like">
                <img src=" {% static 'AppPortfolio/img/like.svg' %} " alt="Icon like">
                <p class="p-count-like">6</p>
              </div>

              <div class="box-comment">
                <img src=" {% static 'AppPortfolio/img/comment.svg' %} " alt="Icon comment">
                <p class="p-count-comment">4</p>
              </div>
            </div>
          </div>

        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <a href="" class="btn-all-project">VOIR TOUS LES PROJETS</a>

  </section>

</main>

<aside>
  <div class="btn-top">
    <img src="{% static 'AppPortfolio/img/arrow-up-solid.svg' %}" id="arrow-up">
  </div>
</aside>

{% endblock %}


{% block js %}
<script type="text/javascript" src=" {% static 'AppPortfolio/js/home.js' %} "></script>
{% endblock %}