{% extends 'AppPortfolio/base.html' %}
{% load static %}


{% block title %} Home {% endblock title %}


{% block style_icon %}
<link rel="shortcut icon" href="{% static 'AppPortfolio/img/logo-2.png' %}" type="image/x-icon">
<link rel="stylesheet" href=" {% static 'AppPortfolio/css/style.css' %} ">
{% endblock style_icon %}


{% block content %}

<!-- header -->
<header class="header-home">
  <div class="header-content">
    <div>
      <h1>Dévéloppeur Python & Data Scientist</h1>
      <h2>Macktireh Abdi Soubaneh</h2>
    </div>
  </div>
</header>

<!-- main -->
<main>

  <!-- section quelques projets -->
  <section class="projects">
    <div class="projet-heading">
      <h3>QUELQUES PROJETS</h3>
    </div>

    <div class="projet-container">
      {% for project in Projects.all %}
      {% if project.status == 'published' %}

      {% include 'AppPortfolio/components/card.html' %}

      <script>console.log(" {{ project.title }} ")</script>
      {% endif %}
      {% endfor %}
    </div>

    <a href="{% url 'projects' %}" class="btn-all-project">VOIR TOUS LES PROJETS</a>

  </section>

</main>

<aside>
  <div class="btn-top">
    <img src="{% static 'AppPortfolio/img/arrow-up-solid.svg' %}" id="arrow-up">
  </div>
</aside>

{% endblock %}


{% block js %}
<script type="text/javascript" src=" {% static 'AppPortfolio/js/home.js' %} "></script>
{% endblock %}