{% extends 'AppPortfolio/base.html' %}
{% load static %}


{% block content %}
<!-- <header class="header_project">
    <h1></h1>
</header> -->

<main>
  <section class="projects">
    <div class="projet-heading">
      <h3>TOUS LES PROJETS</h3>
    </div>

    <div class="projet-container">
      {% for project in Projects.all %}
      {% if project.status == 'published' %}
      <div class="projet-box">
        <a href="">
          <div class="projet-img">
            <img src="{{ project.image.url }}" alt="{{ project.title }}">
          </div>

          <div class="projet-text">
            <span>{{ project.published_date|date:"d/m/Y" }} | par {{ project.author.first_name }}</span>
            <h5 class="projet-title">{{ project.title }}</h5>
            <p class="intro">
              {{ project.introduction }}.
            </p>
          </div>
          <div class="card-contenaire">
            <div class="card-botton">
              <div class="box-level">
                <img src=" {% static 'AppPortfolio/img/level.svg' %} " alt="Icon Niveau">
                <p class="p-level">Niveau: {{ project.niveau }}</p>
              </div>

              <div class="box-like">
                <img src=" {% static 'AppPortfolio/img/like.svg' %} " alt="Icon like">
                <p class="p-count-like">6</p>
              </div>

              <div class="box-comment">
                <img src=" {% static 'AppPortfolio/img/comment.svg' %} " alt="Icon comment">
                <p class="p-count-comment">4</p>
              </div>
            </div>
          </div>

        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>

  <!-- Recherche et filtre -->
  <aside>
    <div class="filter-contenaire">

    </div>
  </aside>
</main>
{% endblock %}