{% load static %}

<a class="logo" href="{% url 'home' %}">
  <img src=" {% static 'portfolio/img/logo.png' %} " alt="logo Macktireh">
</a>

<ul class="nav-menu">
  <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Projet</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
</ul>

<div class="hamburger">
  <span class="hamburger__bar"></span>
  <span class="hamburger__bar"></span>
  <span class="hamburger__bar"></span>
</div>