@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Inconsolata:wght@300&family=Megrim&display=swap");
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

*::selection {
  background-color: #f31d58;
  color: #f1f1f1;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

a:visited {
  color: #f1f1f1;
}

.flex-center, footer .footer-content .footer-content-box .footer-logo, .thanks-container, .section-forms, .contact, .main-blog .blog, .main-detail-project .container-detail-project .published-info, .main-detail-project .container-detail-project .box-title, .projects .projet-container, .projects .projet-heading, .projects, .competence__container, .competence, .presentation, .header-home .container-content .img-box, .projet-box .card-contenaire .card-botton .box-level, .projet-box .card-contenaire .card-botton .box-like, .projet-box .card-contenaire .card-botton .box-comment, .nav-bar .logo, .btn-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column, .section-forms form, .section-info .box-info {
  display: flex;
  flex-direction: column;
}

body {
  background: #14141f;
  color: #f1f1f1;
  font-family: ui-sans-serif, system-ui;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn-top {
  width: 40px;
  height: 40px;
  background-color: #f31d58;
  color: var(--color2);
  border-radius: 6px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.btn-top #arrow-up {
  position: relative;
  width: 20px;
  transition: 0.5s ease-in-out;
}

.btn-top-show {
  opacity: 1;
  visibility: visible;
}

.nav-bar {
  opacity: 1;
  height: 80px;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  background-color: #1f1f2e;
}
.nav-bar .logo {
  margin-left: 20px;
  height: 50px;
  transition: 0.4s;
  vertical-align: middle;
}
.nav-bar .logo img {
  width: 180px;
}
.nav-bar .nav-menu {
  list-style-type: none;
  display: flex;
  margin-right: 2rem;
  gap: 25px;
}
.nav-bar .nav-menu .nav-item {
  display: inline;
  cursor: pointer;
  font-size: 25px;
  transition: 0.3s;
  border-radius: 8px;
}

.nav-link {
  color: #f1f1f1;
  text-align: center;
  transition: 0.3s ease-out;
  position: relative;
}
.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 35px;
  transform: translateX(-50%) scale(0);
  height: 3px;
  width: 90%;
  transition: 0.3s ease;
  background-color: #f31d58;
  border-radius: 8px;
}
.nav-link:hover::after {
  transform: translateX(-50%) scale(1);
  color: #f31d58;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 2rem;
}
.hamburger__bar {
  background-color: #f1f1f1;
  display: block;
  width: 28px;
  height: 4px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger:active {
    transform: scale(0.97);
  }

  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .hamburger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    margin-right: 0;
    position: fixed;
    background-color: #1f1f2e;
    opacity: 0.95;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
  }

  .nav-item {
    margin: 10px 0;
    opacity: 0.95;
  }

  .nav-menu.active {
    left: 0;
  }
}
.projet-box {
  width: 350px;
  height: 450px;
  background-color: #1f1f2e;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 2px #979eaa;
  transition: 0.3s ease-in-out;
  transform: scale(0.99);
  display: flex;
  flex-direction: column;
}
.projet-box:hover {
  box-shadow: 0 0 4px #f1f1f1;
  transform: scale(1);
}
.projet-box .projet-img {
  width: 100%;
  height: 200px;
}
.projet-box .projet-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.projet-box .projet-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.projet-box .projet-text span {
  color: #979eaa;
  font-size: 0.9rem;
}
.projet-box .projet-text .projet-title {
  padding: 0;
  margin: 5px 0;
  height: 60px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #f1f1f1;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projet-box .projet-text .projet-title:hover {
  color: #f31d58;
  transition: 0.3s;
}
.projet-box .projet-text .intro {
  margin: 5px 0;
  padding: 0;
  font-size: 1rem;
  color: #979eaa;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projet-box .card-contenaire {
  margin: auto;
}
.projet-box .card-contenaire .card-botton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
  color: #979eaa;
}
.projet-box .card-contenaire .card-botton .box-level, .projet-box .card-contenaire .card-botton .box-like, .projet-box .card-contenaire .card-botton .box-comment {
  margin: 0;
}
.projet-box .card-contenaire .card-botton .box-level img, .projet-box .card-contenaire .card-botton .box-like img, .projet-box .card-contenaire .card-botton .box-comment img {
  margin: 0;
  width: 20px;
  margin-right: 5px;
}
.projet-box .card-contenaire .card-botton .box-level p, .projet-box .card-contenaire .card-botton .box-like p, .projet-box .card-contenaire .card-botton .box-comment p {
  margin: 0;
}

.header-home {
  width: 100%;
  height: 100vh;
  background-color: #1f1f2e;
  text-align: center;
  position: relative;
}
.header-home .container-content {
  width: 90%;
  max-width: 1000px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.header-home .container-content hr {
  margin: 2.5rem auto 1.5rem;
  width: 4rem;
  max-width: 3.5rem;
  height: 0.2rem;
  background-color: #f31d58;
  border: none;
  outline: none;
}
.header-home .container-content .container-tags-competence {
  margin: 0.5rem auto;
  width: 90%;
  max-width: 380px;
}
.header-home .container-content .container-tags-competence .p-tags-competence {
  padding: 0.5rem;
  font-family: "Inconsolata", monospace;
}
.header-home .container-content .img-box {
  gap: 25px;
  margin: 0.5rem 0;
}
.header-home .container-content .img-box .python {
  padding-top: 10px;
  height: 5rem;
  width: auto;
}
.header-home .container-content .img-box .django {
  height: 3.5rem;
  width: auto;
}
.header-home .container-content .img-box .js {
  height: 2.5rem;
  margin: 0 0.3rem;
  width: auto;
  border-radius: 5px;
}
.header-home .container-content .img-box .powerbi {
  height: 2.5rem;
  width: auto;
}

.presentation {
  width: 100%;
  text-align: center;
  position: relative;
  background-color: #1f1f2e;
}
.presentation .container-presntation {
  width: 80%;
  padding: 2rem;
}
.presentation .container-presntation hr {
  margin: 1rem auto 1.5rem;
  width: 3.5rem;
  max-width: 3.5rem;
  height: 0.2rem;
  background-color: #979eaa;
  border: none;
  outline: none;
}
.presentation .container-presntation p {
  text-align: justify;
  line-height: 180%;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .presentation .container-presntation {
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .presentation .container-presntation {
    width: 100%;
  }
}
.competence {
  width: 100%;
  text-align: center;
  padding: 40px;
  flex-direction: column;
}
.competence hr {
  margin: 1rem auto 2rem;
  width: 3.5rem;
  max-width: 3.5rem;
  height: 0.2rem;
  background-color: #f31d58;
  border: none;
  outline: none;
}
.competence__container {
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem;
}
.competence__container__box {
  width: 90%;
  max-width: 290px;
  padding: 1rem;
  margin: 2rem;
}
.competence__container__box img {
  width: 70px;
  height: 70px;
}
.competence__container__box h3 {
  padding: 0.1rem 0 0.5rem 0;
}

@media screen and (max-width: 550px) {
  .competence {
    padding: 40px 25px;
  }
  .competence__container {
    padding: 0;
  }
  .competence__container__box {
    width: 97%;
    padding: 0.5rem;
    margin: 1rem;
  }
}
.projects {
  flex-direction: column;
  padding: 40px;
  background-color: #1f1f2e;
}
.projects .projet-heading {
  flex-direction: column;
}
.projects .projet-heading h3 {
  font-size: 2.5rem;
  color: #f1f1f1;
  font-weight: 200px;
}
.projects hr {
  margin: 1rem auto 1rem;
  width: 3.5rem;
  max-width: 3.5rem;
  height: 0.2rem;
  background-color: #979eaa;
  border: none;
  outline: none;
}
.projects .projet-container {
  margin: 20px 0;
  flex-wrap: wrap;
  max-width: 1500px;
}
.projects .btn-all-project {
  /* background-color: $color3 */
  padding: 1rem 2.5rem;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 150px;
  transition: 0.5s;
  position: relative;
  z-index: 500;
  overflow: hidden;
}
.projects .btn-all-project::before {
  content: "";
  display: block;
  background-color: #f31d58;
  height: 100%;
  width: 0;
  border-radius: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.3s;
}
.projects .btn-all-project:active {
  transform: scale(0.97);
}
.projects .btn-all-project:hover::before {
  width: 100%;
}
.projects .btn-all-project:hover {
  border: none;
}

.main-detail-project {
  background-color: #1f1f2e;
  padding: 3rem;
}
.main-detail-project .container-detail-project {
  width: 95%;
  max-width: 850px;
  margin: 0 auto;
}
.main-detail-project .container-detail-project .box-title {
  margin: 2rem auto 0;
}
.main-detail-project .container-detail-project hr {
  margin: 1rem auto 1rem;
  width: 2.5rem;
  max-width: 3.5rem;
  height: 0.2rem;
  background-color: #f31d58;
  border: none;
  outline: none;
}
.main-detail-project .container-detail-project .published-info {
  margin: 1rem auto 3rem;
  color: #979eaa;
}
.main-detail-project .container-detail-project .img-project {
  margin: 0 auto;
  width: 95%;
  height: 30rem;
}
.main-detail-project .container-detail-project .img-project img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.main-detail-project .container-detail-project .detail-project-content {
  margin: 1rem auto 3rem;
  padding: 2rem 1rem;
  height: 50rem;
}

.main-blog {
  background-color: #1f1f2e;
}
.main-blog .blog {
  height: 30rem;
  text-align: center;
  padding-bottom: 4rem;
  background-color: #1f1f2e;
}

.contact {
  padding: 3rem 0;
  background-color: #1f1f2e;
}

.contact-container {
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2.5rem;
  border-radius: 8px;
}

.section-info {
  text-align: center;
  width: 90%;
  min-width: 400px;
  max-width: 600px;
}
.section-info .header-content {
  width: 80%;
  margin: 1.5rem auto;
}
.section-info .header-content hr {
  margin: 0.8rem auto 1.5rem;
  width: 2rem;
  max-width: 3.5rem;
  height: 0.2rem;
  background-color: #f31d58;
  border: none;
  outline: none;
}
.section-info .header-content p {
  text-align: center;
  line-height: 140%;
  font-size: 16px;
}
.section-info .contact-img {
  width: 80%;
  margin: 0 auto;
}
.section-info .contact-img img {
  width: 100%;
}
.section-info .box-info {
  width: 80%;
  margin: 1.5rem auto;
  flex-wrap: wrap;
}
.section-info .box-info .info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.8rem;
}
.section-info .box-info .info .info-icon img {
  width: 30px;
  height: 30px;
}
.section-info .box-info .info .info-text {
  margin-left: 0.5rem;
}
.section-info .box-info .info .info-text p {
  text-align: center;
  line-height: 140%;
  font-size: 14px;
}

.section-forms form {
  width: 100%;
  min-width: 320px;
  max-width: 800px;
  padding: 60px 45px 30px;
  border-radius: 16px;
  box-shadow: 0 1px 4px #979eaa;
  position: relative;
}
.section-forms form::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 150px;
  background: linear-gradient(65deg, #f31d58, #f85a87);
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 1px 4px #979eaa;
}
.section-forms form div {
  transition: 0.2s;
}
.section-forms form label {
  letter-spacing: 1px;
}
.section-forms form input[type=text],
.section-forms form input[type=email],
.section-forms form textarea {
  margin: 7px 0 7px;
  border: 1px solid transparent;
  background: #979eaa;
  height: 36px;
  width: 100%;
  box-shadow: 0 1px 2px #979eaa;
  border-radius: 9px;
  font-size: 1.1rem;
  padding: 10px;
  transition: 0.2s;
}
.section-forms form .message-container {
  margin-top: 1.3rem;
}
.section-forms form .message-container textarea {
  height: 200px;
  resize: vertical;
}
.section-forms form input[type=text]:focus,
.section-forms form input[type=email]:focus,
.section-forms form textarea:focus {
  border: 1px solid #f1f1f1;
}
.section-forms form span {
  margin-bottom: 20px;
  display: block;
  font-size: 0.8rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  color: red;
}
.section-forms form p {
  background: red;
  width: 33%;
  height: 6px;
  margin: -2px 0 2px;
  border-radius: 50px;
  visibility: hidden;
  transition: 0.3s;
}
.section-forms form #security span {
  display: inline;
}
.section-forms form input[type=submit] {
  border: none;
  background: linear-gradient(65deg, #f31d58, #f85a87);
  width: 50%;
  height: 36px;
  margin: 2rem auto 0;
  padding: 10px;
  border-radius: 150px;
  font-size: 1.2rem;
  box-shadow: 0 1px 8px #979eaa;
  cursor: pointer;
  transition: 0.3s ease;
}
.section-forms form input[type=submit]:hover {
  filter: brightness(105%);
  transform: translateX(2px);
}
.section-forms form .error input[type=text], .section-forms form .error input[type=email] {
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.527);
}
.section-forms form .error textarea {
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.527);
}
.section-forms form .error span {
  visibility: visible;
  opacity: 1;
  color: red;
}

@media screen and (max-width: 980px) {
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact-container .section-forms {
    margin-top: 2rem;
  }
  .contact-container .section-forms form {
    padding: 60px 25px 30px;
  }
}
.thanks-container {
  background-color: #1f1f2e;
  height: 30rem;
}

footer {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-rows: 85% 15%;
  padding: 0;
}
footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer-content .footer-content-box {
  width: 300px;
  height: auto;
}
footer .footer-content .footer-content-box .footer-logo {
  width: 300px;
}
footer .footer-content .footer-content-box .footer-logo img {
  width: 80%;
  height: auto;
}
footer .footer-content .footer-content-box ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
footer .footer-content .footer-content-box ul a {
  display: block;
}
footer .footer-content .footer-content-box ul a img {
  width: 30px;
  height: 30px;
}
footer .footer-content .footer-content-box ul a .ml {
  margin: 0 20px;
}
footer hr {
  margin: 0.1rem auto;
  width: 70%;
  height: 0.1rem;
  background-color: #979eaa;
  border: none;
  outline: none;
}
footer .footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #979eaa;
  height: 3rem;
}
footer .footer-bottom a {
  transition: 0.5s;
  color: #979eaa;
}
footer .footer-bottom a:hover {
  color: #f31d58;
}

/*# sourceMappingURL=style.css.map */
