// #################################################
// Header
// #################################################
.header-home
    width: 100%
    height: 100vh
    background-color: $color4
    text-align: center
    position: relative
    // border-bottom: 1px solid $color5
    // display: grid
    // grid-template-columns: 60% 40%
    // @extend .flex-center

    .container-content
        width: 90%
        max-width: 1000px
        @include position-abs(50%, 40%, -50%, -50%)
        hr
            @include hr-el(2.5rem, 1.5rem, 4rem, $color3)
        .container-tags-competence
            margin: 0.5rem auto
            width: 90%
            max-width: 380px
            .p-tags-competence
                padding: 0.5rem
                font-family: $font4
                // text-align: left

        .img-box
            @extend .flex-center
            gap: 25px
            margin: 0.5rem 0
            .python
                padding-top: 10px
                height: 5rem
                width: auto
            .django
                height: 3.5rem
                width: auto
            .js
                height: 2.5rem
                margin: 0 0.3rem
                width: auto
                border-radius: 5px
            .powerbi
                height: 2.5rem
                width: auto

// ###########################################################################################################################
// Main
// ###########################################################################################################################

// #################################################
    // Section presentation
// #################################################
.presentation
    // height: 25rem
    @extend .flex-center
    width: 100%
    text-align: center
    position: relative
    background-color: $color4
    .container-presntation
        width: 80%
        padding: 2rem
        // border: 1px solid $color3
        // position: absolute
        // left: 50%
        // top: 40%
        // transform: translate(-50%, -50%)

        hr
            @include hr-el(1rem, 1.5rem, 3.5rem, $color5)

        p
            text-align: justify
            line-height: 180%
            font-size: 16px

@media screen and (max-width:800px)
    .presentation
        .container-presntation
            width: 90%
@media screen and (max-width:700px)
    .presentation
        .container-presntation
            width: 100%
// #################################################
    // Section competence
// #################################################
.competence
    // height: 35rem
    width: 100%
    text-align: center
    // background-color: $color4
    padding: 40px
    @extend .flex-center
    flex-direction: column

    hr
        @include hr-el(1rem, 2rem, 3.5rem, $color3)

    &__container
        width: 100%
        max-width: 1200px
        @extend .flex-center
        flex-wrap: wrap
        // border: 1px solid $color2
        margin: 0 auto
        padding: 1rem

        &__box
            width: 90%
            max-width: 290px
            // border: 1px solid $color3
            padding: 1rem
            margin: 2rem

            img
                width: 70px
                height: 70px

            h3
                padding: 0.1rem 0 0.5rem 0

@media screen and (max-width:550px)
    .competence
        padding: 40px 25px
        &__container
            padding: 0
            &__box
                width: 97%
                padding: 0.5rem
                margin: 1rem
// #################################################
    // Section projet
// #################################################
.projects
    @extend .flex-center
    flex-direction: column
    padding: 40px
    // border-bottom: 1px solid $color5
    background-color: $color4

    .projet-heading
        @extend .flex-center
        flex-direction: column

        h3
            font-size: 2.5rem
            color: $color2
            font-weight: 200px

    hr
        @include hr-el(1rem, 1rem, 3.5rem, $color5)

    .projet-container
        @extend .flex-center
        margin: 20px 0
        flex-wrap: wrap
        max-width: 1500px

    .btn-all-project
        /* background-color: $color3 */
        padding: 1rem 2.5rem
        color: $color2
        border: 1px solid $color2
        border-radius: 150px
        transition: 0.5s
        position: relative
        z-index: 500
        overflow: hidden

        &::before
            content: ""
            display: block
            background-color: $color3
            height: 100%
            width: 0
            border-radius: 150px
            position: absolute
            left: 0
            bottom: 0
            z-index: -1
            transition: 0.3s

        &:active
            transform: scale(0.97)
        &:hover::before
            width: 100%
        &:hover
            border: none
