// #################################################
// Header
// #################################################
.header-home
    width: 100%
    height: 100vh
    background-color: $color4
    text-align: center
    position: relative
    border-bottom: 1px solid $color5

    .header-content
        width: 100%
        position: absolute
        left: 50%
        top: 30%
        transform: translate(-50%, -50%)

// #################################################
// Main
// #################################################
.projects
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding: 40px
    border-bottom: 1px solid $color5
    background-color: $color4

    .projet-heading
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

    h3
        font-size: 2.5rem
        color: $color2
        font-weight: 200px

    .projet-container
        display: flex
        justify-content: center
        align-items: center
        margin: 20px 0
        flex-wrap: wrap

    .btn-all-project
        /* background-color: $color3 */
        padding: 1rem 2.5rem
        color: $color2
        border: 1px solid $color2
        border-radius: 5px

// ############################################################
    // aside: Button pour remonter au top de la page
// ############################################################
.btn-top
    display: block
    width: 50px
    height: 50px
    background-color: $color3
    color: var(--color2)
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    bottom: 20px
    right: 20px
    cursor: pointer
    opacity: 0
    transition: 0.5s

    #arrow-up
        position: relative
        width: 25px
        transition: 10s ease-in-out

    .arrow-up-click
        top: -5px
        bottom: -5px

.btn-top-show
    transition: 0.5s
    opacity: 1
